In [1]:
import numpy as np
import pandas as pd

In [9]:
!pip install OpenSSL

ERROR: Could not find a version that satisfies the requirement OpenSSL (from versions: none)
ERROR: No matching distribution found for OpenSSL

In [2]:
for i in range(1,31):
    exec('reporte_%d = pd.read_excel("/home/workstation/Desktop/fv/data/tables/table1/Reporte Detenidos CER %d.xlsx", encoding="latin1" )'%(i,i))   
reportes1 = [reporte_1,reporte_2,reporte_3,reporte_4,reporte_5,reporte_6,reporte_7,reporte_8,reporte_9,reporte_10,reporte_11,reporte_12,reporte_13,reporte_14,reporte_15,reporte_16,reporte_17,reporte_18,reporte_19,reporte_20,reporte_21,reporte_22,reporte_23,reporte_24,reporte_25,reporte_26,reporte_27,reporte_28,reporte_29,reporte_30]
for i in range(1,7):
    exec('reporte2_%d = pd.read_excel("/home/workstation/Desktop/fv/data/tables/table2/detenidos%d.xlsx", encoding="latin1" )'%(i,i))
reportes2 = [reporte2_1,reporte2_2,reporte2_3,reporte2_4,reporte2_5,reporte2_6]

In [3]:
df1 = pd.concat(reportes1)

df1 = df1.replace(np.nan, ' ', regex=True)

df1 = df1.astype({"nombre":'str', "app":'str', "apm":'str', "foto_barandilla":"str"}) 

df1['Full_name'] = [' '.join([y for y in x if pd.notna(y)])  for x in zip(df1['nombre'], df1['app'], df1['apm'])]

df1 = df1.iloc[1:]

df1.rename(columns={"foto_barandilla": "foto1"}, inplace=True)

df1 = df1[["folio", "Full_name", "foto1", "fecha_hora_registro" ]]

df1.rename(columns={"Full_name": "nombre"}, inplace=True)
df1.set_index('folio')
print(df1)

        folio                                nombre  \
1         131         JUAN DOMINGO GONZALEZ DELGADO
2         132         FRANCISCO JAVIER VELA RAMIREZ
3         133              JUAN CARLOS PEREZ MEDINA
4         134               ARMANDO SALINAS SALINAS
5         135         JOSE FELIX ZAMBRANO AMEZQUITA
...       ...                                   ...
9697  1223258                    IVAN  RIVERA SILVA
9698  1223259           EDUARDO PLASCENCIA MARTINEZ
9699  1223260  FRANCISCO JAVIER PLASCENCIA MARTINEZ
9700  1223261        JUAN ALBERTO MARTINEZ ARELLANO
9701  1223262        JOSE DE JESUS SERRANO GONZALEZ

                              foto1  fecha_hora_registro
1                           131.jpg  2008-08-07 15:42:25
2                           132.jpg  2008-08-07 15:50:42
3                           133.jpg  2008-08-07 16:37:24
4                           134.jpg  2008-08-07 17:18:12
5                           135.jpg  2008-08-07 17:55:05
...                             ...                  ...
9697   20200330103123_239288573.jpg  2020-03-30 10:32:10
9698  20200330103726_1160992585.jpg  2020-03-30 10:38:25
9699   20200330103837_999151106.jpg  2020-03-30 10:39:44
9700    20200330104038_29275767.jpg  2020-03-30 10:41:52
9701   20200330104145_640780023.jpg  2020-03-30 10:45:35

[1169701 rows x 4 columns]

In [4]:
df2 = pd.concat(reportes2)
print(df2.shape)
df2 = df2[["folio","Nombre", "foto", "sexo"]]
print(df2.shape)
df2 = df2.replace(np.nan, ' ', regex=True)
print(df2.shape)
df2.rename(columns={"Nombre": "nombre"}, inplace=True)
print(df2.shape)
df2.rename(columns={"foto": "foto2"}, inplace=True)
print(df2.shape)
df2 = df2[["folio", "foto2", "sexo"]]
df2.set_index('folio')
print(df2)

(1136496, 5)
(1136496, 4)
(1136496, 4)
(1136496, 4)
(1136496, 4)
          folio                            foto2       sexo
0           131                          131.jpg  MASCULINO
1           132                          132.jpg  MASCULINO
2           133                          133.jpg  MASCULINO
3           134                          134.jpg  MASCULINO
4           135                          135.jpg  MASCULINO
...         ...                              ...        ...
136491  1150054  tmp10.90.4.1720190618110449.jpg  MASCULINO
136492  1150055  tmp10.90.4.1720190618111110.jpg  MASCULINO
136493  1150056  tmp10.90.9.2420190618112251.jpg  MASCULINO
136494  1150057  tmp10.90.4.1720190618112519.jpg  MASCULINO
136495  1150058    20190618112531_1247949847.jpg  MASCULINO

[1136496 rows x 3 columns]

In [5]:
result = df2.merge(df1, on="folio")
result = df1.merge(df2, how='left', left_on='folio', right_on='folio')
result = result[["folio","nombre", "foto1", "foto2", "sexo","fecha_hora_registro"]]
print(result)

           folio                                nombre  \
0            131         JUAN DOMINGO GONZALEZ DELGADO
1            132         FRANCISCO JAVIER VELA RAMIREZ
2            133              JUAN CARLOS PEREZ MEDINA
3            134               ARMANDO SALINAS SALINAS
4            135         JOSE FELIX ZAMBRANO AMEZQUITA
...          ...                                   ...
1169696  1223258                    IVAN  RIVERA SILVA
1169697  1223259           EDUARDO PLASCENCIA MARTINEZ
1169698  1223260  FRANCISCO JAVIER PLASCENCIA MARTINEZ
1169699  1223261        JUAN ALBERTO MARTINEZ ARELLANO
1169700  1223262        JOSE DE JESUS SERRANO GONZALEZ

                                 foto1    foto2       sexo  \
0                              131.jpg  131.jpg  MASCULINO
1                              132.jpg  132.jpg  MASCULINO
2                              133.jpg  133.jpg  MASCULINO
3                              134.jpg  134.jpg  MASCULINO
4                              135.jpg  135.jpg  MASCULINO
...                                ...      ...        ...
1169696   20200330103123_239288573.jpg      NaN        NaN
1169697  20200330103726_1160992585.jpg      NaN        NaN
1169698   20200330103837_999151106.jpg      NaN        NaN
1169699    20200330104038_29275767.jpg      NaN        NaN
1169700   20200330104145_640780023.jpg      NaN        NaN

         fecha_hora_registro
0        2008-08-07 15:42:25
1        2008-08-07 15:50:42
2        2008-08-07 16:37:24
3        2008-08-07 17:18:12
4        2008-08-07 17:55:05
...                      ...
1169696  2020-03-30 10:32:10
1169697  2020-03-30 10:38:25
1169698  2020-03-30 10:39:44
1169699  2020-03-30 10:41:52
1169700  2020-03-30 10:45:35

[1169701 rows x 6 columns]

In [6]:
result.to_csv(r"/home/workstation/Desktop/fv/data/DB.csv", index=False)